body {
    background-color: #000; 
    color: white;
    font-family: 'Arial Black', sans-serif; 
    margin: 0;
    display: flex;
    justify-content: center;
}

.game-container {
    width: 100%;
    max-width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.header {
    text-align: center;
    padding-top: 20px;
}

.logo {
    width: 100px; 
    margin-bottom: 185px;
}
.main-title {
    font-family:'Franklin Gothic Medium', 'Arial Black';
    font-size: 48px; 
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: -2px;
    margin: 20px 0;
    text-transform: uppercase;
}

.badge-red {
    background-color: #ed1c24; 
    padding: 5 10px;
    border-radius: 5px;
    font-size: 30px;
    display: inline-block;
}
.wheel-section {
    width: 100%;
    height: 200px; 
    overflow: hidden; 
    position: relative;
    display: flex;
    justify-content: center;
}

.wheel-section img {
    width: 644.49px; 
    height: auto;
    position: absolute;
    top: 0;
}
.form-card {
    background-color: #1a1a1a; 
    width: 100%;
    border-radius: 40px 40px 0 0;
    padding: 30px 20px;
    margin-top: -40px; 
    z-index: 10;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555; 
    color: rgb(238, 236, 236);
    padding: 15px 0;
    margin-bottom: 15px;
}
form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    
}


.checkbox-group {
    display: flex;
    align-items: flex-start; 
    gap: 10px;               
    margin-bottom: 20px;     
    color: white;
    text-decoration: underline;
    font-size: 14px;
    text-align: left;
}

.checkbox-group input {
    width: auto;
    margin-top: 4px;         
}


.button-wrapper {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.btn-submit {
    background-color: #e61e2a; 
    color: white;
    padding: 10px 40px;        
    border: none;
    border-radius: 8px;         
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    min-width: 200px;          
}