 /* Dark mode par défaut */
  :root {
      --bg: #0f0f14;
      --text: #f1f1f1;
      --accent: #7a64b2;
      --card: #1a1a24;
      --border: #2a2a3a;
  }

  /* Si l'utilisateur préfère le clair */
  @media (prefers-color-scheme: light) {
      :root {
          --bg: #ffffff;
          --text: #111111;
          --accent: #0071e3;
          --card: #f5f5f7;
          --border: #dcdcdc;
      }
  }

  body {
      background-color: var(--bg);
      color: var(--text);
  }
  .container {
      display: grid;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height:  clamp(100vh, 100vw, 100vh);
      background-color: var(--bg);
  }
    .hero_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 50Px;
    
    }
   .section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .word_spin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
   }
   .win_TO {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: center;
    align-items: center;
        gap: 10px;
   }
   .logo_win {
     display: flex;
    align-items: center;
    justify-content: center;
   }
    .win_logo {
        max-width: 156px;
        display: flex;
        height: clamp(40px, 10vw, 54px);
        
    }
    .carré {
        position: relative;
        width: clamp(40px, 10vw, 54px);
        height: clamp(40px, 10vw, 54px);
        background-color: #AC0000;
        color: var(--text);
        display: flex;
        font-size: 18px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
    .CTA_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: var(--card);
        width: clamp(402px, 80vw, 402px);
        height: clamp(185px, 40vw, 185px);
        border-radius: 50px;
    }