* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
.mobile-container {
    background-color: #000000;
    width: 95%;
    max-width: 380px;
    height: 90vh;
    max-height: 800px;
    border-radius: 40px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 4px solid #333;
    margin: 20px auto;
    overflow-y: auto;
}

.back-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.main-title {
    color: white;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    font-family: sans-serif;
    text-transform: uppercase;
}

.coupon-bar {
    background-color: white;
    color: black;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10ox;
}

.foot-locker-logo {
    width: 110px;
    height: auto;
}